@import url('https://fonts.googleapis.com/css?family=Muli');
body {
    margin: 0px 0px 0px 0px;
    background: #232B2B;
    color: #FFE361;
    margin-top: auto;
    margin-right: auto;
    font-family: 'Muli', sans-serif;
}

table {
    align-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border: 2px #00ACE9 solid;
    border-collapse: collapse;

}

td {
    padding: 3px;
    width: 200px;
    height: 30px;
    text-align: center;
}

th {
    padding: 5px;
    width: 200px;
    font-size: 25px;
    color: #6A9A1F;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #233b3b;
}

#holder {
    margin: 0px 0px 0px 0px;
    align-content: center;
    text-align: center;
    color: #ff5e00;
    border: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
h1 {
    border: 0px;
    text-align: center;
    
    margin-bottom: 20px;
    font-size: 25px;

}

.content{
   clear: left;
}