<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <meta charset="UTF-8">
    <title>Assignment-Three</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <script src="js/libs/angular.js"></script>

    <h1>3.	Create an Angular JS program where a div calls a function of a controller that shows the current system data and the last modified date of the current program.</h1>
    <div id='holder' ng-controller='DateController'>

        <p>Current Time : {{ clock | date:'medium'}}</p>
        <p>Last Modified Time Of Program : {{lastDate | date:'medium'}}</p>
    </div>
    <script>
        var app = angular.module('main', []);
        app.controller('DateController', function($scope,$timeout) {
            $scope.clock = new Date(); // initialise the time variable
            $scope.tickInterval = 1000 //ms
            $scope.lastDate=new Date(document.lastModified);
            var tick = function() {
                $scope.clock = Date.now() // get the current time
                $timeout(tick, $scope.tickInterval); // reset the timer
            }

            // Start the timer
            $timeout(tick, $scope.tickInterval);
        });
    </script>
</body>

</html>
