<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <meta charset="UTF-8">
    <title>Assignment-Six</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/libs/angular.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div id='holder' ng-controller='CDController'>
        <h1>Your Cart Value is {{cartValue|currency:'$ '}}</h1>
        <p>Please enter a coupon code <input type="text" ng-model='coupon' ng-focus='showDiscount=false'>
            <button ng-click='showDiscount=true'>APPLY COUPON</button>
        </p>

        <div ng-switch="coupon" ng-show='showDiscount'>
            <div ng-switch-when="CDMK1610">
                <h1>Coupon Appliled {{coupon}} Final Cart Value is {{cartValue-cartValue*(0.1)|currency:'$ '}}</h1>
            </div>
            <div ng-switch-when="CDMK1620">
                <h1>Coupon Appliled {{coupon}} Final Cart Value is {{cartValue-cartValue*(0.2)|currency:'$ '}}</h1>
            </div>
            <div ng-switch-when="CDMK1690">
                <h1>Coupon Appliled {{coupon}} Final Cart Value is {{cartValue-cartValue*(0.9)|currency:'$ '}}</h1>
            </div>
            <div ng-switch-default>
                <h1>Coupon Appliled Final Cart Value is {{cartValue-cartValue*(0.05)|currency:'$ '}}</h1>
            </div>
        </div>
        <button>Proceed to checkout</button>
    </div>

</body>

</html>
