<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <meta charset="UTF-8">
    <title>Assignment-Five</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/libs/angular.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div id='holder' ng-controller='CDController'>
        <h1>{{name}}</h1>
        <p>{{headOffice}}</p>
         <table>
            <tr>
                <th>Title</th>
                <th>Language</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat='data in getDetails()'>
                <td>{{data.title}}</td>
                <td>{{data.language}}</td>
                <td>{{data.price |currency:'$ '}}</td>
            </tr>
        </table>
       
       

    </div>

</body>

</html>
