body {
    background: #232B2B;
    color: #FFE361;
    margin-top: auto;
    margin-right: auto;
    font-family: 'Muli', sans-serif;
}

#holder {
    align-content: center;
    text-align: center;
    color: #ff5e00;
    border: 0px;
}

h1 {
    border: 0px;
   text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;

}

span {
    color: red;
}

section {
    align-content: center;
    text-align: center;
}

table {
    align-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border: 2px #00ACE9 solid;
}

td {
    padding: 3px;
    width: 200px;
    height: 30px;
    text-align: center;
}

th {
    padding: 5px;
    width: 200px;
    font-size: 25px;
    color: #6A9A1F;
    text-align: center;
}
input {
    border: 2px;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    padding: 3px;
    background: #778899;
}

input[type=submit],button {
    border: 2px;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    background:#ff5e00;
    margin: 3px;
    color: #232B2B;
    font-size: 22px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: antiquewhite;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: antiquewhite;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: antiquewhite;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: antiquewhite;
}
