<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
    <meta charset="UTF-8">
    <title>Assignment Four</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/libs/angular.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div id='holder' ng-controller='CDController'>
        <p>ID: <input type="text" ng-model="cId"></p>
        <p>Title: <input type="text" ng-model="cdTitle"></p>
        <p>Price: <input type="text" ng-model="cdPrice"></p>
        <button ng-click='showList=true'>Show Details</button>
        <ul ng-show='showList'>
            <li ng-repeat='data in getDetails()'>
                {{data}}
            </li>
        </ul>
    </div>

</body>
</html>