<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <meta charset="UTF-8">
    <title>Assignment-Eight</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/libs/angular.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div id='holder' ng-controller='CDController'>
        <button ng-click='addRow()'>Generate Tables Of 5</button>

        
        <table>
            <tr ng-repeat="count in rows">
                <td>5</td>
                <td>x</td>
                <td>{{count}}</td>
                <td>=</td>
                <td>{{5*count}}</td>
            </tr>
        </table>

    </div>

</body>

</html>
