<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <meta charset="UTF-8">
    <title>Assignment-Two</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <script src="js/libs/angular.js"></script>
    
    <h1>2.	Create an Angular JS program to receive the “user name” and “City Name” as the input from the user. On entry, show both the details in uppercase and along with today’s current date in the div.</h1>
    <div id='holder' ng-controller='UserController'>
        <p>User Name: <input type="text" ng-model="userName"></p>
        <p>City Name: <input type="text" ng-model="cityName"></p>
        <p>{{getDetails()}}</p>
    </div>
    <script>
        var app = angular.module('main', []);
        app.controller('UserController', function($scope) {
            $scope.userName = '';
            $scope.cityName = '';
            $scope.getDetails = function() {
                
                if($scope.userName.length!=0 && $scope.cityName.length!=0)
                    return $scope.userName.toUpperCase()+"   "+$scope.cityName.toUpperCase()+"   "+new Date().toDateString();
                else return '';
            };
        });
    </script>
</body>

</html>
