<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Angular App</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <script src="js/libs/angular.js"></script>
    <h1>1.	Create an Angular JS program to receive the “City Name” as the input from the user. Display the same in a div.</h1>
<div ng-app="" id='holder'>
  <p>City Name: <input type="text" ng-model="cityName"></p>
  <p ng-bind="cityName"></p>
</div>
</body>
</html>